<h1>Game Art</h1>
<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BKHN5RDJUak" frameborder="0" allowfullscreen></iframe>
  
</div>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8WIncfqZx-E" frameborder="0" allowfullscreen></iframe>
  
</div>
<br>

<div class="row">
    
    <div class="col-md-4">
        <div class="thumbnail">
            <%= image_tag("AmbientOcclusion1.jpeg") %>
        </div>
    </div>
    
     <div class="col-md-4">
        <div class="thumbnail">
            <%= image_tag("AmbientOcclusion2.jpeg") %>
        </div>
    </div>
    
     <div class="col-md-4">
        <div class="thumbnail">
            <%= image_tag("AmbientOcclusion3.jpeg") %>
        </div>
    </div>
    
    
</div>

<div class="row">
    
    <div class="col-md-4">
        <div class="thumbnail">
            <%= image_tag("2015-12-10 (1).png") %>
        </div>
    </div>
    
     <div class="col-md-4">
        <div class="thumbnail">
            <%= image_tag("2015-12-10 (2).png") %>
        </div>
    </div>
    
     <div class="col-md-4">
        <div class="thumbnail">
            <%= image_tag("2015-12-10 (4).png") %>
        </div>
    </div>
    
    
</div>

<!-- <div class="embed-responsive embed-responsive-16by9">-->
<!--<iframe src="https://www.dropbox.com/home/Tiger%20Nine%20Game?preview=Tiger+Nine+Game.html"></iframe>-->
<!--</div>-->


<div class="transitions-enabled" id="posts">
    <% @posts.each do |post| %>
        <div class="box panel panel-default">
            
        <%= link_to (image_tag post.image.url), post %>
        </div>
        <div class="panel-body">
            <p> <%= post.title %> </p>
            
        </div>
         
        
   <% end %>
    
</div>

