<h1>Web Apps</h1>
<br>



<div class="row">
    
    <div class="col-md-6">
        <a class="center" href="https://vast-sierra-96353.herokuapp.com/">
        <div class="thumbnail">
            <%= image_tag("DevMatchApp.png") %>
            <div class="caption">
            Dev Match App</a>
            </div>
        </div>
        
    </div>
    
    
       <div class="col-md-6">
           <a class="center" href="https://myrecipesd.herokuapp.com/">
        <div class="thumbnail">
            <%= image_tag("MyRecipeApp.png") %>
            <div class="caption">
            <a class="center" href="https://myrecipesd.herokuapp.com/">Recipe App</a>
            </div>
        </div>
        
    </div>
    
  
</div>


<div class="row">
    <div class="col-md-6">
        <a href="https://arcane-dawn-47878.herokuapp.com">
            <div class="thumbnail">
                <%= image_tag("InstagramApp.png") %>
                <div class="caption">
                    <a href="https://arcane-dawn-47878.herokuapp.com">Instagram Clone App</a>
                </div>
            </div>
        </a>
    </div>
    
        <div class="col-md-6">
        <a href="https://fast-fjord-85254.herokuapp.com/">
            <div class="thumbnail">
                <%= image_tag("History_Of_Universe.png") %>
                <div class="caption">
                    <a href="https://fast-fjord-85254.herokuapp.com/">Ask About the Universe App</a>
                </div>
            </div>
        </a>
    </div>
    
</div>

<div class="row">
    <div class="col-md-6">
        <a href="https://broadway-app.herokuapp.com/">
            <div class="thumbnail">
                <%= image_tag("BroadwayApp.png") %>
                <div class="caption">
                    <a href="https://broadway-app.herokuapp.com/">Broadway App</a>
                </div>
            </div>
        </a>
    </div>
    
        <div class="col-md-6">
        <a href="https://espn-de.herokuapp.com/">
            <div class="thumbnail">
                <%= image_tag("EspnFanForumApp.png") %>
                <div class="caption">
                    <a href="https://espn-de.herokuapp.com/">ESPN App</a>
                </div>
            </div>
        </a>
    </div>
    
</div>

<div class="row">
    <div class="col-md-6">
        <a href="https://file-cab-net.herokuapp.com/">
            <div class="thumbnail">
                <%= image_tag("FileCabinetApp.png") %>
                <div class="caption">
                    <a href="https://file-cab-net.herokuapp.com/">Instagram Clone App</a>
                </div>
            </div>
        </a>
    </div>
    
 
    
</div>



<br>

    
</div>
